.footer { /* Стили для footer */
    padding: 20px; /* Добавление отступов вокруг footer */
    background: #bd75cd; /* Установка светло-фиолетового фона */
    bottom: 0; /* Выравнивание элементов по нижней части родительского элемента */
}

.footer p { /* Стили для параграфов внутри footer */
    margin: 5px 0; /* Вертикальные отступы для параграфов (5px сверху и снизу) */
    color: white; /* Белый цвет текста */
    font-size: 14px; /* Размер шрифта 14px */
    text-align: left; /* Выравнивание текста по левому краю */
    width: 50%; /* Ширину параграфов будет 50% от родительского элемента */
}
