
.header { /* Стиль для header */
    width: 50%; /* Ширина объекта - 50% от родительского элемента */
    padding: 10px; /* Внутренние отступы вокруг содержимого в 10 пикселей */
    background-color: #bd75cd; /* Светло-фиолетовый фон заголовка */
    place-items: center; /* Центрирование элементов по горизонтали и по вертикали */
    margin: 0 auto; /* Центрирование контейнера по горизонтали с автоматическими внешними отступами */
    border-radius: 8px; /* Скругление углов контейнера на 8 пикселей */
}

h1 { /* Стиль для заголовка 1 уровня */
    text-align: center; /* Выравнивание текст заголовка по центру */
}
