.main { /* Стили для основного контейнера страницы */
    width: 100%; /* Контейнер занимает всю ширину родительского элемента */
    background-color: #532c5c; /* Темно-фиолетовый цвет фона контейнера */
    place-items: center; /* Центрирование элементов по горизонтали и по вертикали */
}