/* Стили для компонента списка продуктов */

.product-list { /* Стили для контейнера списка продуктов */
    max-width: 90%; /* Максимальная ширина списка продуктов - 90% от родительского элемента */
    margin: 20px auto; /* Центрирование список продуктов с помощью авто-маргинов по 20 пикселей */
    padding: 20px; /* Отступы вокруг внутреннего содержимого в 20 пикселей */
    border: 1px solid white; /* Белая рамка вокруг контейнера толщиной 1 пиксель */
}

h2 { /* Стили для заголовка 2 уровня */
    text-align: center; /* Центрирование текста заголовка */
    color: white; /* Белый цвет текста */
}

table { /* Стили для таблицы */
    width: 100%; /* Полная ширина относительно родителя */
    border-collapse: collapse; /* Объединяем рамки таблицы */
}

th, td { /* Стили для заголовков и ячеек таблицы */
    border: 1px solid white; /* Белая рамка для ячеек таблицы толщиной 1 пиксель */
    padding: 10px; /* Отступы внутри ячеек таблицы в 10 пикселей */
    text-align: left; /* Выравнивание текста по левой границе */
}

th { /* Стили для заголовков таблицы */
    background-color: #82458e; /* Светло-фиолетовый цвет фона для заголовков */
    font-weight: bold; /* Жирный шрифт для заголовков */
    color: white; /* Белый цвет текста для заголовков */
}

tr:nth-child(even) { /* Стили для четных строк таблицы */
    background-color: #82458e; /* Светло-фиолетовый фон для четных строк (как у заголовка) */
}
